footer {
    background-color: var(--footer-bg);
    min-height: 386px;
    display: flex;
    flex-wrap: wrap;
    color: #f5f7fa;
    padding: 49px 120px;
    gap: 32px;

    .text {
        width: 400px;

        span {
            color: #f5f7fa;
            font-weight: 700;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
        }

        p {
            margin-top: 34px;
            color: #f5f7fa;
            font-weight: 400;
            font-size: 16px;
            line-height: 35px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 21px;
        }
        a {
            color: #f5f7fa;
            font-weight: 700;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
        }
    }

    div {
        margin-left: auto;
        width: min(100%, 763px);

        a {
            color: #f5f7fa;
            font-weight: 700;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
        }

        .instagram-shop-images {
            display: flex;
            gap: 21px;
            flex-wrap: wrap;
            margin-top: 16px;
        }
    }
}